<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for LRCLIB lyrics requests -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        Notification Listener access is granted through
        Android Settings. It is NOT requested with a
        normal runtime permission dialog.
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PulseVisualizer">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".MusicNotificationListener"
            android:label="@string/app_name"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <intent-filter>
                <action
                    android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>

        </service>

        <!-- Music widget -->
        <receiver
            android:name=".MusicWidgetProvider"
            android:exported="true">

            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_info" />

        </receiver>

        <!-- Lyrics widget -->
        <receiver
            android:name=".LyricsWidgetProvider"
            android:exported="true">

            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/lyrics_widget_info" />

        </receiver>

    </application>

</manifest>
