<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for retrieving lyrics from LRCLIB -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PulseVisualizer"
        android:label="Pulse Visualizer">

        <!-- Main application -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <!-- Notification Listener -->
        <service
            android:name=".MusicNotificationListener"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <intent-filter>

                <action
                    android:name="android.service.notification.NotificationListenerService" />

            </intent-filter>

        </service>


        <!-- Music Widget -->
        <receiver
            android:name=".MusicWidgetProvider"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_info" />

        </receiver>


        <!-- Lyrics Widget -->
        <receiver
            android:name=".LyricsWidgetProvider"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/lyrics_widget_info" />

        </receiver>

    </application>

</manifest>
